.contact {
    display: flex;
    flex-flow: column nowrap;
}

.map {
    flex: 1 0 auto;
    width: 100%;
    background: url('../img/map/map.jpg') center center no-repeat;
    background-size: cover;
}

.wrapper-footer {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 58px;
    background: url('../img/map/map_footer.jpg') no-repeat;
    background-size: cover;
    @include phone {
        height: 106px;
    }
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    @include tablet {
        width: 100%;
        padding: 0 25px;
    }
    @include phone {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }
}

.footer__left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.footer__address {
    margin-bottom: 8px;
    font-family: 'Conv_Ubuntu-Light';
    font-size: 13px;
    letter-spacing: .03rem;
    color: white;
    @include phone {
        margin: 9px 0 9px 0;
    }
}

.footer__tel {
    display: inline-block;
    position: relative;
    font-family: 'Conv_Ubuntu-Regular';
    font-size: 13px;
    letter-spacing: .03rem;
    font-weight: bolder;
    color: #e45028;
    &:before {
        content: "";
        display: inline-block;
        position: relative;
        width: 12px;
        height: 11px;
        margin-right: 7px;
        background: url('../img/icon/phone.png') no-repeat;
        background-size: cover;
        @include tablet {
            margin-right: 5px;
        }
    }
    @include phone {
        margin: 0 0 19px 0;
        text-align: center;
    }
}

.footer__social {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    opacity: .3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    fill: white;
    @include tablet {
        margin-right: 18px;
    }
    @include phone {
        margin-right: 21px;
    }
    &:last-child {
        margin-right: 0;
    }
}

.footer__social:hover {
    opacity: 1;
}