// resolutions
$desktop: 1280px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px;
//include files
@import "media.scss";
@import "common.scss";
@import "intro.scss";
@import "about.scss";
@import "burgers.scss";
@import "team.scss";
@import "menu.scss";
@import "feeds.scss";
@import "order.scss";
@import "contact.scss";