.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: url('../img/bg/menu_bg.jpg') no-repeat;
    background-size: cover;
}

.menu-title {
    padding: 100px 0 0 100px;
}

.title-section--white {
    color: white;
    margin: 0;
}

.menu-acco {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
}

.menu-acco__link {
    display: flex;
    flex-flow: row nowrap;
    text-justify: flex-start;
    align-items: stretch;
    position: relative;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
    }
}

.menu-acco__header-wrapper {
    position: relative;
    width: 80px;
    height: 100%;
}

.menu-acco__header-wrapper--meat {
    background: url('../img/menu/acco_meat1.jpg') no-repeat;
    background-size: cover;
}

.menu-acco__header-wrapper--vegetarian {
    background: url('../img/menu/acco_vegetarian1.jpg') no-repeat;
    background-size: cover;
}

.menu-acco__header-wrapper--diet {
    background: url('../img/menu/acco_diet1.jpg') no-repeat;
    background-size: cover;
}

.menu-acco__header {
    position: absolute;
    left: 50%;
    top: 50%;
    white-space: nowrap;
    font-family: 'Conv_Gagalin-Regular';
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: 0 0;
}

.menu-acco__desc-wrapper {
    position: relative;
    width: 0;
    height: 100%;
    background: rgba(#3d4041, .93);
    overflow: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.menu-acco__desc-wrapper--show {
    width: 540px;
}

.menu-acco__desc {
    position: absolute;
    left: 0;
    top: 0;
    width: 540px;
    height: 100%;
    padding: 58px 32px;
    font-family: 'Conv_Ubuntu-Light';
    font-size: 14px;
    line-height: 20px;
    color: white;
}