.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: url('../img/bg/menu_bg.jpg') no-repeat;
    background-size: cover;
}

.menu-title {
    padding: 100px 0 0 100px;
}

.title-section--white {
    color: white;
    margin: 0;
}

.menu-acco {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
}

.menu-acco__link--meat {
    background: url('../img/menu/acco_meat.jpg') no-repeat;
    background-position: 70% 0%;
}

.menu-acco__link--vegetarian {
    background: url('../img/menu/acco_vegetarian.jpg') no-repeat;
    background-position: 40% 0%;
}

.menu-acco__link--diet {
    background: url('../img/menu/acco_diet.jpg') no-repeat;
    background-position: 60% 0%;
}

.menu-acco__link {
    position: relative;
    width: 80px;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }
}

.menu-acco__header {
    position: absolute;
    left: 50%;
    top: 50%;
    white-space: nowrap;
    font-family: 'Conv_Gagalin-Regular';
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: 0 0;
}